@font-face{
    font-family: "utm-cooper-black";
    src:url("assets/UTM Cooper Black.ttf");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: space-between;

  /* This centers our sketch vertically. */
  align-items: center;
  background-color: rgb(248, 240, 227);
  flex-direction: column;
}

h1 {
  font-family: utm-cooper-black;
  font-size: 30px;
}

